<template name="form">
	<form class="add-new-post">
		<input type="file" />
		<input type="text" />
		<input type="text" />
		<button class="waves-effect waves-light btn">Submit</button>
	</form>
</template>

<template name="posts">
	<div class="grid">
			<div class="grid-sizer"></div>
			{{#each postList}}
			<div class="grid-item">
				{{updateMasonry}}
				<u1>
					<li>
						{{this.name}} {{this.createdAt}} <img src="{{Image}}" />
					</li>
				</u1>
			</div>
			{{/each}}
	</div>
</template>
